@import url('https://fonts.googleapis.com/css?family=Monoton|Nothing+You+Could+Do|Gruppo|Notable|Muli');

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

#header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background-color: white;
	border-bottom: 1px solid #D4DAE3 ;
	width: 100%;
	z-index: 2;
}

.header__menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.header__menu li {
	display: inline-block;
}

.header__menu a {
	display: inline-block;
	color: black;
	font-family: 'Gruppo', cursive;
	font-size: 120%;
	padding: 30px 20px;
}

.header__menu li:hover {
	background-color: #F9F9F9;
	font-weight: bold;
}

.header__logo {
	padding: 5px 5px 5px 20px;
	width: 18%;
}

.header__logo a {
	text-decoration: none;
	font-family: 'Monoton', cursive;
	font-size: 200%;
	color: #025E9F;
}

.header__slogan {
	display: block;
	font-family: 'Nothing You Could Do', cursive;
}

main {
	padding-top: 80px;
}

.promo {
	background-image: url('img/palms.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
	padding: 40px 30px;
	color: white;
}

.promo h1 {
	display: inline-block;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	font-family: 'Notable', cursive;
	width: 50%;
	font-size: 200%;
}

.promo__img {
	float: right;
	position: relative;
	margin-top: 15vh;
	width: 30%;
	z-index: 1;
}

.promo__decription {
	font-family: 'Muli', sans-serif;
	width: 55%;
}

.promo__decription:after {
	position: absolute;
	top: 80px;
	right: 0;
	content: "";
	width: 40%;
	height: 480px;
	background-color: white;
}

.promo__price {
	font-size: 200%;
	font-weight: bold;
	margin-left: 10px;
	font-family: 'Nothing You Could Do', sans-serif;
}

.promo__button {
	display: inline-block;
	width: 110px;
	margin: 20px 10px;
	padding: 10px;
	border: 1px solid white;
	color: white;
	font-family: 'Gruppo', sans-serif;
	font-size: 120%;
	font-weight: bold;
}

.promo__button:hover { 
	background-color: rgba(199,203,209,0.5) ;
}

.gallery {
	width: 100%;
	margin-bottom: 20px;
}

.gallery a img {
	box-sizing: border-box;
	width: 33.3%;
	float: left;
  	padding: 10px;
}

.gallery::after {
  content: "";
  clear: both;
  display: table;
}

.gallery a img:hover {
 -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.gallery h2 {
	font-family: 'Notable', cursive;
	margin: 30px;
	font-size: 200%;
}

#order {
	font-family: 'Notable', cursive;
	font-size: 200%;
	color: white;
}

.order {
	background-color: black;
	color: white;
	padding: 30px;
	font-family: 'Muli', sans-serif;
	background-image: url('img/keds.jpg');
	background-repeat: no-repeat;
	background-position: 90% 10%;
	background-size: 300px auto; 
}

.order div {
	margin: 25px;
}

.order__price {
	font-size: 200%;
	font-weight: bold;
	margin-left: 10px;
	font-family: 'Nothing You Could Do', sans-serif;
}

.order__size select,
.order__name input,
.order__phone input {
	position: absolute;
	left: 160px;
	width: 30vw;
	height: 20px;
}

.order__button {
	display: inline-block;
	width: 110px;
	margin: 10px;
	padding: 10px;
	border: 1px solid white;
	color: white;
	font-family: 'Gruppo', sans-serif;
	font-size: 120%;
	font-weight: bold;
	background-color: transparent;
	margin-left: 20px;
}

.order__button:hover {
	cursor: pointer;
	background-color: rgba(199,203,209,0.5) ;
}

.order__sizes {
	font-family: 'Muli', sans-serif;
	font-size: 115%;
	border-collapse: collapse;
	background-color: rgba(226,230,237,0.3);
	width: 100%;
}

.order__sizes td {
	text-align: center;
}

.order__sizes th {
	background-color: rgb(96,98,101);
}

.order__sizes tfoot td {
	padding-top: 20px;
	background-color: black;
}

.order__sizes caption {
	padding: 20px 0;
}


@media (max-width: 1000px) {

.promo {
	height: 350px;
}

.promo__decription:after {
	height: 430px;
}

.promo__decription {
	font-size: 80%;
}

.promo h1 {
	font-size: 150%;
}

.promo__button {
	font-size: 100%;
	width: 90px;
}
#gallery {
	font-size: 150%;
}
#order {
	font-size: 150%;
}
.order {
	font-size: 80%;
}
.order__sizes {
	font-size: 100%;
}

@media (max-width: 850px) {

main {
	padding-top: 60px;
}

.header__logo {
	width: 30%;
}

.header__logo a {
	font-size: 150%;
}

.header__slogan {
	font-size: 80%;
}

 .header__menu li {
	display: none;
}

nav:after {
	display: block;
	content: "";
	background-image: url('img/menu.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	width: 50px;
	height: 100%;
	margin-right: 10px;
}

nav:hover li {
	display: block;
}

nav:hover a {
	padding: 15px;
	width: 100%;
}

nav:hover ul {
	position: absolute;
	top: 65px;
	right: 0;
	background-color: white;
	width: 100%;
}

nav:hover {
	cursor: pointer;
}

.promo__decription:after {
	top: 60px;
}

.order {
	background-size: 200px auto; 
}
}

@media (max-width: 700px) {

.promo {
	height: 100%;
	background-size: cover;
	background-position: right;
}

.promo__img {
	display: block;
	float: none;
	margin: 30px 0;
	width: 250px;
}

.promo__decription:after {
	display: none;
}

.promo h1,
.promo__price {
	display: block;
	width: 100%;
}

.promo__decription {
	width: 100%;
}
.gallery {
	display: flex;
	flex-direction: column;
}
.gallery a img {
	display: block;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	float: none;
  	padding: 20px;
}

#gallery {
	text-align: center;
}

.order {
	background-image: none; 
}

#order {
	text-align: center;
}

.order__size select,
.order__name input,
.order__phone input {
	position: absolute;
	left: 140px;
	width: 50%;
	height: 20px;
}

.order__button {
	display: block;
	margin: 0 auto 10px;
}

.order__price {
	text-align: center
}
}